<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
  <title>Portfolio TrackerAnalyzer</title>
</head>

<body>

  <header class="container">
    <h1 class="pico-color-amber-200">Portfolio Tracker/Analyzer</h1>
  </header>

  <main class="container">
    <h2>All Accounts</h2>
    <table>
      <thead>
        <th>Account</th>
        <th>Last Transaction</th>
        <th>Total Invested</th>
        <th>Total Withdrawn</th>
        <th>Total Dividend</th>
        <th>Gain ($)</th>
        <th>Gain (%)</th>
        <th>Annualized Yield</th>
        <th>Modified Dietz Method</th>
        <th>Value</th>
      </thead>
      <tbody>
        <tr>
          <td>Account</td>
          <td>Last Transaction</td>
          <td>Total Invested</td>
          <td>Total Withdrawn</td>
          <td>Total Dividend</td>
          <td>Gain ($)</td>
          <td>Gain (%)</td>
          <td>Annualized Yield</td>
          <td>Modified Dietz Method</td>
          <td>Value</td>
        </tr>
      </tbody>
    </table>
  </main>
</body>

</html>