<div class="uk-container">
  <ul class="uk-breadcrumb uk-margin-top">
    <li><a href="https://tracker.arrakisholdings.com/">Home</a></li>
    <li><span>{{account.name}}</span> <span class="uk-text-small">({{account.institution_id}})</span></li>
  </ul>

  <input type="hidden" id="p-page" name="page" value="transactions" />
  <input type="hidden" id="p-uid" name="user_id" value="1" />

  <ul class="uk-list">
    <li>Total transactions: {{transactions | length }}</li>
    <li><a href="https://tracker.arrakisholdings.com/new-transaction.html?account_id={{account.id}}">Add new transaction</a></li>
  </ul>

  <section class="uk-container uk-margin-medium-top">
    <div class="uk-overflow-auto">
      <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
          <th>ID</th>
          <th>Symbol</th>
          <th>Type</th>
          <th>Date</th>
          <th>Quantity</th>
          <th>PPS</th>
          <th>Value</th>
          <th></th>
        </thead>
        <tbody>
          {% for tr in transactions | reverse %}
          <tr>
            <td data-tr-id="{{tr.id}}">{{tr.id |truncate(length=15)}}</td>
            <td>{{tr.symbol}}</td>
            <td>{{tr.transaction_type}}</td>
            <td>{{tr.date}}</td>
            <td>{{tr.quantity}}</td>
            <td>{{tr.pps | currency_filter()}}</td>
            <td>{{tr.pps * tr.quantity | currency_filter()}}</td>
            <td><button hx-get="/tracker_api?ac=delete-transaction&tr_id={{tr.id}}" hx-target="#main" hx-include="#p-uid, #p-page" hx-confirm="Are you sure you want to delete this transaction?">🗑️</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
