<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.9/dist/css/uikit.min.css" />
    <title>Portfolio TrackerAnalyzer</title>
  </head>

  <body>

    <header class="uk-container uk-margin-large-top">
      <h1>Portfolio Tracker/Analyzer</h1>
    </header>

    <div class="uk-container">Portfolio inception: {{portfolio.first_transaction}}</div>

    <main class="uk-container uk-margin-medium-top">
      <h2>All Accounts</h2>
      {% include "accounts-table.html" %}
    </main>
  </body>

</html>
